
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}


// ----------------------HEADER---------------------------



header{
    // border: solid 2px green;
    background-color:#FF69B4;
    
    height: 19.1vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    div{
        // border: solid 2px red;
        display: flex;
        align-items: center;
        width: 40vw;
        h1{
            font-size: 25px;
        color: white;
        font-weight: 400;
        }
    }
    ul{
        // border: solid 2px blue;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
        li{
            list-style: none;
            font-size: 22px;
            color: white;
            font-weight: 400;
        }
    }
}


// ----------------------------FIM DA HEADER--------------------------------



// -------------------------------MAIN---------------------------------


.BoxSobre{
        // border: solid 2px red;
        height: 61.1vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FFD9EC;
      
     p{
                // border: solid 2px green;
                height: 42.9vh;
                width:44vw ;
                font-size: 23px;
                font-weight: 400;
                display: flex;
            align-items: center;
                
            }  

            img{
                width: 25vw;
            }
        
    }

.BoxConscientizaçao{
    // border: solid 2px red;
    height: 42.4vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#FF69B4;
    p{
        // border: solid 1px green;
        height: 28.2vh;
        width: 47.4vw;
        display: flex;
        align-items: center;
        font-size: 23px;
        font-weight: 400;
        color: white;
    }
    img{
        width: 27vw;
    }
}

.BoxDicas{
    // border: solid 2px red;
    height: 69vh;
    background-color: #FFD9EC;
   
    figure{
        // border: solid 2px green;
        height: 69vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      img{
        width: 17vw;
      }
    }
    
}




// ----------------------------FIM DA MAIN---------------------------









// ---------------------------FOOTER----------------------------

footer{
    // border: solid 2px red;
    background-color:#FF69B4;
    height: 23.1vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .BoxLogos{
        // border: solid 2px green;
        width: 15vw;
    
        display: flex;
        justify-content: space-between;

    }
    ul{
        text-align: center;
        // border: solid 2px green;
       
      
      li{
        color: white;
        list-style: none;
        font-size: 20px;
      }

    }
    .simbolooutrosa{
        // border: solid 2px blue;
        width: 13vw;
        display: flex;
        justify-content: center;
        
    }
}



// ---------------------------FIM DO FOOTER----------------------------